.page-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-inline: 20px;
  margin-inline: auto;
  max-width: 2560px;
  overflow: hidden;

  h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  h3 {
    margin-bottom: 50px;
  }

  .s-login {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-inline: auto;
    animation: fadeIn 0.3s ease;
    @apply py-60 px-20 sm:py-100 sm:px-50;

    &__subtitle {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &__dropzone {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 110px;
      height: 110px;
      background-color: var(--bg-color-secondary);
      border-radius: 30px;
      margin-inline: auto;
      cursor: pointer;
      background-size: cover;
      background-position: center;
    }
    .back-button {
      position: absolute;
      top: 12px;
      right: 12px;
    }
  }
}

.auth {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__text {
    position: relative;
    margin-inline: auto;
    text-align: center;
    z-index: 1;
    max-width: 650px;
    @apply pt-100 pb-40;

    @media (max-width: 768px) {
      max-width: 450px;
      padding-top: 50px;
    }

    h1 {
      font-size: 55px;
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: 60px;
      @media (max-width: 768px) {
        font-size: 35px;
      }
    }

    h2 {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 60px;
      text-shadow: 1px 1px 3px var(--primary-color);
      z-index: 1;

      @media (max-width: 768px) {
        font-size: 20px;
      }
    }

    .text-gradient {
      background: var(--weshre-gradient-left-right);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .degree {
      color: var(--red-color);
    }
  }

  &__picture {
    position: relative;
    margin-bottom: 50px;
    z-index: 1;
  }
  .decor-blur {
    position: absolute;
    content: "";
    top: 0;
    left: calc(50% - 180px);
    width: 450px;
    height: 400px;
    background-image: var(--weshre-gradient-right-left);
    opacity: 1;
    filter: blur(80px);
    z-index: -1;
    animation: blob 25s linear infinite;
  }
}