@import '../colors.scss';

.page-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    .menu {
        width: 50%;
        height: 100%;
        transform: translateY(15vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        form {
            display: block;
            width: 70%;
            input {
                margin: 15px 0;
            }
        }
        h2 {
            display: flex;
            width: 100%;
            justify-content: center;
        }
        h4 {
            width: 70%;
            margin: auto;
            font-size: 16px;
            text-align: justify;
            overflow-wrap: anywhere;
        }
        a {
            color: $color-secondary;
            margin-left: 5px;
        }
        .subscribe {
            display: flex;
            width: 70%;
            justify-content: flex-end;
        }
        .problem {
            display: flex;
            margin: 80px;
            color: #666;
        }
    }
}