.benevoles {
    display: flex;
    a {
        text-decoration: none;
    }
    .user {
        display: flex;
        background-color: #fff;
        color: #000;
        margin: auto;
        justify-content: flex-start;
        align-items: center;
        padding: 5px;
        border-radius: 55px;
        margin: 20px;
        width: auto;
        img {
            max-height: 120px;
            width: auto;
            aspect-ratio: 1/1;
            display: flex;
            border-radius: 48px;
        }
        span {
            margin: 20px;
            font-size: 25px;
            padding: 2px;
            overflow: hidden;
        }
    }
}