.order-page {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: auto;
    .col-md-6 {
        background-color: red;
        display: block;
        justify-content: center;
    }
    .switcher_ {
        display: flex !important;
        justify-content: flex-end !important;
        margin: 10px;
    }
}