.location-row {
    display: flex;
    width: 100%;
    .row {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    span {
        display: flex;
        justify-content: center;
        font-size: 25px;
    }
    img {
        border-radius: 25px;
    }
}