.modal {
    .modal-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
        background-color: #252525;
        margin: 0;
        width: 100%;
        padding: 0;
    }
    .modal-content {
        color: white;
        background-color: #252525;
        padding: 20px;
        input {
            color: white;
            background-color: #252525;
            -webkit-text-fill-color: #FFFFFF;
        }
    }
}