.stock-card {
    width: "100%";
    height: "100%";
    display: "flex";
    align-items: center;
    justify-content: center;
    padding: 20px;
    .card {
        margin: auto;
        border-radius: 25px;
        color: #FFF;
        background-color: #252525;
        img {
            position: relative;
            display: block;
            max-width:500px;
            max-height:400px;
            width: auto;
            height: auto;
        }
        .out_of_stock {
            position: absolute;
            margin: 20% 5%;
            width: 90%;
            transform: rotate(-30deg);
        }
    }
    .card-body {
        background-color: #f8f7f725 !important;
        width: 100%;
    }
    .card-title {
        display: flex;
        width: 100%;
        justify-content: end;
        .stock {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: #000;
            padding: 10px;
            border-radius: 25px;
        }
        h3 {
            display: flex;
            margin-right: auto;
        }
    }
    .card-text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
        font-size: 18px;
    }
}