.stock-card {
    width: "100%";
    height: "100%";
    display: "flex";
    align-items: center;
    justify-content: center;
    padding: 20px;
    .card {
        margin: auto;
        border-radius: 25px;
        color: #FFF;
        background-color: #252525;
        img {
            display: block;
            max-width:500px;
            max-height:400px;
            width: auto;
            height: auto;
        }
    }
    .card-body {
        background-color: #f8f7f725 !important;
    }
}