.toolbar {
    max-width: 100%;
    padding: 10px;
    margin: auto;
    color: white;
    &__list {
        background-color: #f5f5f5;
        border: 1px solid #0000001a;
        padding: 10px;
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: center;
        border-radius: 999px;
        li {
            color: currentColor;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            width: 100%;
        }
        li button {
            all: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 100%;
            padding: 10px;
            border-radius: 999px;
            cursor: pointer;
            transition:
                background-color 0.25s ease,
                color 0.25s ease,
                transform 0.2s ease,
                box-shadow 0.2s ease;
        }
        li.--active button {
            background-color: #252525;
            color: black;
            transform: scale(1.05, 1.05, 1.05, 1.05);
        }
        li span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.5vw;
        }
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
}