@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    position: relative;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--body-color);
    color: var(--primary-color);
    height: 100vh;

    .page {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: stretch;
      max-width: 100vw;
      min-height: calc(100vh - 16px);
      height: 100%;
      max-width: 2048px;
      gap: 8px;
      padding-left: 8px;
      margin-inline: auto;
      overflow: hidden;
      z-index: 1;
      container-type: inline-size;
    }

    .menu {
      background-color: var(--bg-color);
      border-radius: 30px;
      padding: 24px;
      overflow-y: auto;
      overflow-x: hidden;
      animation: fadeIn 0.3s ease;

      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;

      @container (max-width: 500px) {
        padding-inline: 12px;
      }

      &--profile {
        background-color: #493dd7;
        padding: 60px;

        @container (max-width:801px) {
          padding: 24px;
        }
        @container (max-width: 500px) {
          padding-inline: 12px;
        }
      }
      &--page-profile {
        background-color: var(--body-color);
        padding: 0;
      }
    }
    .error-message {
      color: var(--red-color);
      font-size: 0.875rem;
      margin-top: 0.25rem;
    }
  }

  .container-title {
    display: flex;
    align-items: center;
    gap: 0px;

    .logo,
    .text {
      flex-shrink: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
    }

    .logo svg,
    .text svg {
      width: 100% !important;
      height: 100% !important;
    }

    .logo > div,
    .text > div {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

  .cadre {
    width: 100%;
    display: flex;
    gap: 12px;
    background-color: var(--bg-color-secondary);
    border-radius : 30px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
  }
}
