@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@layer base {
  :root {
    // Default theme (dark)
    --body-color: #000;

    --bg-color: #252323;
    --bg-color-secondary: #3d3a3a;
    --bg-color-transition: #585454;

    --primary-color: #fff;
    --secondary-color: #c9c8c8;
    
    --blue-color: #55c2ff;
    --blue-color-darken: #29aefa;
    --red-color: #ff5555;
    --red-color-darken: #d73333;

    @apply font-montserrat;
  }

  [data-theme="light"] {
    --body-color: #f5f5f5;

    --bg-color: #fff;
    --bg-color-secondary: #e0e0e0;
    --bg-color-transition: #d3d3d3;

    --primary-color: #252525;
    --secondary-color: #555;

    @apply font-montserrat;
  }
}

svg:not(.svg-colored) {
  filter: invert(1);
}

[data-theme="light"] {
  svg:not(.svg-colored) {
    filter: none;
  }
}
